.menu {
  display: flex;
  justify-content: start;
  padding: 150px 0 0 0;
  position: relative;

  & p {
    position: absolute;
    font-size: 1.5rem;
    top:100px;
    left: 100px;
    color: aqua;
  }

  .menu-item {
    max-width: 125px;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;

    .menu-image {
      padding: 10px;
      background-color: #8d8d8d;
    }

    .menu-image img {
      width: 100%;
    }

    .menu-title {
      padding: 5px;
      border-top: 2px solid #fff;
      text-align: center;
      overflow: hidden;
    }
  }
}

