.msg-wrapper {
  display: flex;
  padding: 100px 0 0 0;
  justify-content: center;
  font-size: 18px;
  color: #fff;

  .msg {
    border: 2px solid #fff;
    max-width: 500px;
    padding: 15px;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width: 600px) {
      font-size: 12px;
      width: 50%;
    }

    .msg-box {
      text-align: left;
      white-space: normal;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .msg-text {
      border: 2px solid #fff;
      border-radius: 30px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
      overflow-x: auto;

      &:not(:first-child){
        margin-top: 20px;

        @media only screen and (max-width: 600px) {
          margin-top: 10px;
        }
      }

      &__text {
        align-self: start;
        width: 90%;
        margin: 0 10px;
        word-wrap: break-word;

      }
    }

    .msg-input {
      width: 100%;
      display: flex;
      position: relative;
      margin-top: 15px;
      border: 2px solid white;
      border-radius: 30px;

      .msg-text-input {
        width: 90%;
        outline: none;
        background: transparent;
        padding: 10px;
        color: white;
        font-size: 18px;
        border: none;

      }

      .msg-send-btn {
        color: #4bff50;
        position: absolute;
        top: 8px;
        right: 15px;
        border: 2px solid #4bff50;
        padding: 0 3px 0 3px;
        border-radius: 30px;
        cursor: pointer;
      }
    }
  }

}