.form {
    box-sizing: border-box;
    position: fixed;
    width: 20vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;

    &__close {
        position: absolute;
        font-size: 20px;
        top: 5px;
        right: 10px;
        cursor: pointer;

    }

    &__input {
        background-color: #006E7F;
        border-radius: 10px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        & > *:not(:last-child) {
            margin-bottom: 2rem;
        }

        &-file {
            &::-webkit-file-upload-button {
                visibility: hidden;
            }

            &::before {
                color: #79DAE8;
                content: 'Select some files';
                display: inline-block;
                background: linear-gradient(top, #f9f9f9, #e3e3e3);
                border: 1px solid #999;
                border-radius: 3px;
                padding: 5px 8px;
                outline: none;
                white-space: nowrap;
                -webkit-user-select: none;
                cursor: pointer;
                text-shadow: 1px 1px #333;
                font-weight: 700;
                font-size: 10pt;
                transition: all .3s;
            }

            &:hover::before {
                border-color: black;
            }
            &:active::before {
                background-color: #2155CD;
            }
        }

        &-filetype {
            border: 2px #0AA1DD solid;
            border-radius: 10px;
            padding: 5px 10px;
            background-color: #79DAE8;
        }

        &-folder {
            padding: 5px;
            outline: none;
        }

        &-btn {
            display: inline-block;
            width: 70%;
            text-align: center;
            padding: 10px 5px;
            cursor: pointer;
            border: none;
            font-size: 1.5rem;
            border-radius: 10px;
            color: #E8F9FD;
            background-color: #0AA1DD;
            transition: all .3s;

            &:hover {
                background-color: #79DAE8;
                color: #2155CD;
                transform: translateY(-5px);
            }
    
            &:active {
                transform: translateY(-2px);
            }
        }    
    }
}