.cover {
  max-width: 100%;
  padding: 100px 50px;
}

.folder-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;

  &__menu {
    font-size: 1.5rem;
    left: 100px;
    color: aqua;
    padding-right: 10px;
    padding-bottom: 10px;
    flex: 1 0 100%;
  }

  &__item {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #C4DDFF;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #F9EBC8;
    cursor: pointer;
    transition: all .3s;
    margin-right: 10px;

    & p {
      margin-left: 15px;
      color: #A0BCC2;
      transition: all .3s;
    }

    &:hover {
      background-color: #C4DDFF;
      border: 1px solid #F9EBC8;

      & p {
        color: #001D6E;
      }
    }
  }

  &__icon {
    width: 2rem;
  }
}
