.file-container {
  display: flex;
  justify-content: start;
  padding: 20px 0;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;

  & p {
    font-size: 1.5rem;
    left: 100px;
    color: aqua;
    padding-right: 10px;
    order: -1;
    flex: 1 0 100%;
  }

  .menu-item {
    max-width: 125px;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    white-space: nowrap;

    .menu-image {
      padding: 10px;
      background-color: #8d8d8d;
    }

    .menu-image img {
      width: 100%;
    }

    .menu-title {
      padding: 5px;
      border-top: 2px solid #fff;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

