.cover {
  width: 100%;
  padding: 50px;
}

.folder-container {
  display: flex;
  justify-content: start;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #C4DDFF;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #F9EBC8;
    cursor: pointer;
    transition: all .3s;

    & p {
      margin-left: 15px;
      color: #A0BCC2;
      transition: all .3s;
    }

    &:hover {
      background-color: #C4DDFF;
      border: 1px solid #F9EBC8;

      & p {
        color: #001D6E;
      }
    }
  }

  &__icon {
    width: 2rem;
  }
}
