.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #73777B;
  color: #F1EEE9;
  flex-direction: column;
  font-size: 13px;

  @media only screen and (max-width: 600px) {
    font-size: 8px;
  }
  @media only screen and (max-width: 300px) {
    display: none;
  }

  &__copyright {
    padding: 10px;
    color: #383838;

    & a,
    & a:visited {
      text-decoration: none;
      color: #F1EEE9;
      transition: all .3s;
    }

    & a:hover {
      background-color: #F1EEE9;
      color: #413F42;
    }
  }

  &__logo {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    padding-bottom: 10px;
    cursor: pointer;

    @media only screen and (max-width: 600px) {
      font-size: 15px;
    }
  }
}